* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

section {
    border: 1px solid black;
    width: 8.26in;
    height: 11.66in;
    margin: 0;
    position: relative;
 }

@font-face {
    font-family: Roboto;
    src: url("../font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Ministry;
    src: url("../font/Ministry/MINISTRY.otf");
}

img {
    width: 200px
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 8.26in;
    text-align: right;
}

.bottom p {
    font-family: Roboto;
    font-size: 1em;
    margin-right: 50px;
    margin-bottom: 10px;
    color: teal;
}

section p, th, td, h2, h3 {
    font-family: Roboto;
    font-size: 1em;
    margin: 10px;
}

/** Couverture **/

section:first-child h1 {
    margin: 0;
    padding: 0;
}


section:first-child img {
    width: 200px;
    margin: 15px;
}

section:first-child div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 50px;
}

section:first-child div + div {
    text-align: center;
    margin-top: 350px;
}

section:first-child .bottom {
    text-align: right;
}

/** Page 1 **/

h1 {
    font-family: Ministry;
    font-size: 6.5em;
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
    color: teal;
    font-weight: 400;

}

h2 {
    font-size: 2.5em;
    font-variant: small-caps;
    color: teal;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: underline;
}

table {
    max-height: 450px;
    margin-top: 30px;
    overflow: hidden;
}

table tr td:last-child {
    color: green;
    font-weight: bold;
}

table i {
    color: red;
}

th, td {
    text-align: center;
    border: 1px solid black;
}

th {
    color: teal;
}

section + section > div{
    overflow: hidden;
}

section + section > div {
    max-height: 750px;
}

/** Page 2 **/

section + section + section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section + section + section img {
    border-radius: 40px;
}

/** Page 3 **/

section + section + section + section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section + section + section + section img {
    width: 300px;
}

section + section + section + section a {
    font-family: Roboto;
    font-size: 1.5em;
    color: teal;
    margin-top: 50px;
}

/* @page { size: A4 } */

@media print {
   section {
      border: 1px solid black;
      width: 8.26in;
      height: 11.66in;
      margin: 0;
      /* change the margins as you want them to be. */
      page-break-after: always;
   }
}